.nav{
    display:block;
    background: blue;
}
.navbutton{
    background: greenyellow;
    font-weight: bold;
    border-radius:10px;
    margin: 5px;
}

#certificats {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.certificats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.certificat {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.certificat img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
