
#identité{
    display: inline;
    margin: 1px;
    width:150px;
    height: 150px;
    border:3px white solid;
    border-radius: 70px;
}
body{
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    padding:2px;
}

div{
    display: inline;
    margin-top:10px;
    width:100%;
}

h1{
    color:dodgerblue;
}
a{
    color:black;
}
.button{
    display: inline;
    color: white;
    background: dodgerblue;
    border:2px rgb(42, 253, 4) solid;
    border-radius:20px 20px 0px;
    margin:5px;
    padding:3px;
    text-align: center;
    text-transform: uppercase;
    width:90%;
}
.navbutton{
    background: greenyellow;
    font-weight: bold;
    border-radius:10px;
    margin: 5px;
}
li{
    font-weight: bold;
}
legend{
    text-decoration:underline;
}
#legend{
    display:inline;
    color:aliceblue;
    background:grey;
}
.nav{
    display:block;
    background: blue;
}
span{
    color:darkblue;
    font-weight:normal;
    width:50%;
}
.école{
    font-weight: bold;
    color:dodgerblue;
    margin-bottom: 0px;
}
#info{
    font-size: smaller;
}
.person{
    display: block;
    text-shadow: 50px;
    color: dodgerblue;
    width:100%;
}
.compétence{
    background-color: cadetblue;
    border-radius: 25px;
    text-align: center;
    width:100%;
    margin:10px 30px;
}
.langue{
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
    width:40%;
    margin:10px 30px;
}
.interet{
    text-align: center;
    border-radius: 25px;
    background-color: cadetblue;
    width:40%;
    margin:10px 30px;
}
.row{
    margin:0px;
}

#gauche{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 200, 255);
}
#filière{
    font-size: medium;
    font-weight: bold;
    text-transform:capitalize ;
}
#profil,#pcursus,#pexpérience,#pcompétence,#plangue,#interet,#pstage,#pactivité{
    text-align:center;
    margin: 5px;
    padding: 3px;
}
.buttoncomment{
    border:none;
}
.logomanga{
    width:50px;
    height:50px;
    border-radius: 25px;
}
.Traduction{
    width: 100%;
}


footer{
    height: 100px;
    color:white;
    border:2px blue solid;
    background: black;
    text-align: center;
    margin:20px 0px 0px 0px;
}
