nav{
    display:block;
    background: blue;
}
.navbutton{
    background: greenyellow;
    font-weight: bold;
    border-radius:10px;
    margin: 5px;
}
#Sommaire{
    display: flex;
    flex-direction: row-reverse;
    padding:5px;
}